<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CustomOutlookUtilActivities" version="1.0.0" targetFramework="net461" />
  <package id="Dapplo.Log" version="2.0.1" targetFramework="net461" />
  <package id="Dapplo.Windows.Common" version="1.0.28" targetFramework="net461" />
  <package id="Dapplo.Windows.Messages" version="1.0.28" targetFramework="net461" />
  <package id="Dapplo.Windows.User32" version="1.0.28" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Net.Http.Headers" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.OData.Client" version="6.13.0" targetFramework="net461" />
  <package id="Microsoft.OData.Core" version="6.13.0" targetFramework="net461" />
  <package id="Microsoft.OData.Edm" version="6.13.0" targetFramework="net461" />
  <package id="Microsoft.OData.ProxyExtensions" version="1.0.35" targetFramework="net461" />
  <package id="Microsoft.Spatial" version="6.13.0" targetFramework="net461" />
  <package id="NetOffice.Core.Net35" version="1.7.4.11" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="OpenQA.Selenium.Winium" version="1.0.0.4" targetFramework="net461" />
  <package id="PInvoke.Kernel32" version="0.7.124" targetFramework="net461" />
  <package id="PInvoke.Windows.Core" version="0.7.124" targetFramework="net461" />
  <package id="PInvoke.Windows.ShellScalingApi" version="0.7.124" targetFramework="net461" />
  <package id="PuppeteerExtraSharp" version="1.3.2" targetFramework="net461" />
  <package id="PuppeteerSharp" version="3.0.0" targetFramework="net461" />
  <package id="RestSharp" version="106.11.5" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="109.0.5414.7400" targetFramework="net461" />
  <package id="SharpZipLib" version="1.3.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.4.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Validation" version="2.4.15" targetFramework="net461" />
</packages>